<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB97C3021CB4974F00C35BC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB97C3191CB4975000C35BC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB97C3241CB4975000C35BC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
